/* Disable selection */
:host {
  /* Safari */
  -webkit-user-select: none;
  /* IE 10 and IE 11 */
  -ms-user-select: none;
  /* Standard syntax */
  user-select: none;
}

/* Disable selection */

:host {
  display: inline-flex;
  box-sizing: border-box;
  font-size: var(--font-normal);
  padding: var(--font-normal);

  align-content: center;
  align-items: center;
  margin: 5px;
}

/* Theme style */
:host {
  transition-property: box-shadow filter;
  transition-duration: 0.5s;

  box-shadow: 0px 0px 10px rgb(25, 25, 25);
  background-color: var(--tint1)
}

/* Theme style */

state-icon {
  box-sizing: border-box;
  display: block;
  width: var(--ico-size-normal);
  height: var(--ico-size-normal);
  padding: 0;
  margin: 0;
  align-self: center;
  align-content: center;
  align-items: center;
  background-color: var(--ico-tint);
  transition-duration: 0.2s;
}


:host(:hover) {
  transition-property: box-shadow filter;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px var(--tint1);
  filter: brightness(120%);

}



:host([state="light dark"]) state-icon {
  mask-image: url("state_icons/auto_mode.svg");
  mask-mode: alpha;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

:host([state="dark"]) state-icon {
  mask-image: url("state_icons/dark_mode.svg");
  mask-mode: alpha;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

:host([state="light"]) state-icon {
  mask-image: url("state_icons/light_mode.svg");
  mask-mode: alpha;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

}
