 body {
  background: var(--primaryColor);
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
 }

 /* Scaling and align attributes */
 :root {
  --header-size: 7vh;
  --ico-size-normal: 3vh;
  --font-normal: 2vh;
  --padding-normal: 2vh;
  --ezitemPadding: 10px;
  --ezlistMargin: 4px;
  --ezbtnMargin: 4px;
 }



 /* Scaling and align attributes */

 /* Fallback gray color pallete */
 :root {
  --primaryColor: light-dark(rgb(200, 200, 200), rgb(30, 30, 30));
  --primaryWidgetColor: light-dark(rgb(90, 90, 90), rgb(50, 50, 50));
  --secondaryWidgetColor: light-dark(rgb(65, 65, 65), rgb(75, 75, 75));
  --tertiaryWidgetColor: light-dark(white, white);
 }

 /* Fallback gray color pallete */

 :root[tint="red"] {
  --primaryColor: light-dark(rgb(255, 230, 230), rgb(45, 0, 20));
  --primaryWidgetColor: light-dark(#c9184a, #a4133c);
  --secondaryWidgetColor: light-dark(#ff4d6d, #ff0a54);
  color: light-dark(darkred, lavenderblush);
  --tertiaryWidgetColor: light-dark(linen, lavenderblush);
 }

 :root[tint="green"] {
  --primaryColor: light-dark(rgb(220, 255, 220), rgb(10, 35, 0));
  --primaryWidgetColor: light-dark(rgb(10, 140, 10), rgb(40, 135, 10));
  --secondaryWidgetColor: light-dark(rgb(40, 185, 0), rgb(70, 165, 40));
  --tertiaryWidgetColor: light-dark(white, mintcream);
 }

 :root[tint="blue"] {
  --primaryColor: light-dark(rgb(200, 215, 240), rgb(20, 40, 65));
  --primaryWidgetColor: light-dark(rgb(0, 50, 180), rgb(40, 70, 165));
  --secondaryWidgetColor: light-dark(rgb(0, 100, 255), rgb(70, 100, 195));
  --tertiaryWidgetColor: light-dark(white, lightcyan);
 }
