:host {
  background-color: var(--tint0);

  position: fixed;
  right: 0px;

  width: 45vmin;
  height: 100%;
}

slot {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


:host[side="left"] {
  left: 0px;
}

:host[side="left"] {
  left: 0px;
}


::slotted(:not(:target)) {
  display: none;
}

::slotted(:target) {
  display: block;
}

@media only screen and (max-width: 505px) {
  :host {
    width: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    backdrop-filter: blur(4px);
  }
}
