/** This file will be used for SELECTING your theme **/
/* Pulls in a selected theme (only one should be imported!) */
@import "../ez_components/themes/modern-flat.css";

/* Here you can put your overrides */

#page_title {
  color: white;
  display: block;
  padding: 2vh !important;
  font-weight: 700;
}

/* Extra style setup for icons */


/* Speed controls sizing & alignment */

/* Speed controls sizing & alignment */

/* Here you can put your overrides */
